<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ofxtool</title>

    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/main.scss">

    <script src="/assets/jquery-2.2.4.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">ofxtool</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">
                        Dashboard
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/transactions">
                        Transactions
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/accounts">
                        Accounts
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <section id="content">{{ template "content" . }}</section>
</body>
</html>